
@import url('./fonts.css');

html, body {
    margin: 0;
    box-sizing: border-box;
    overflow: auto;
}

/* Global Variables */

:root {

    /*  theme colors  */
    --white: #ffffff;
    --bg-color: #000000;
    --light-yellow : #fcdb7a;
    --faded-yellow: #fff2cc;
    --amber-yellow: #ffbf00;

    /* font-family */
    --regular-font: 'm-regular', cursive;
    --bold-font: 'm-bold', cursive;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}


/*Nav Bar Style*/
nav {
    background-color: var(--bg-color);
    padding: 1.156rem 1rem;
    margin-bottom: 1.532rem;
}


nav i, .nav-brand, button .span{
    color: var(--white);
}

nav .fa {
    font-size: 1.5rem;
    font-weight: lighter;
}
nav .nav-brand {
    font-size: 1.25rem;
    font-weight: 700;
    font-family: var(--regular-font);
    letter-spacing: 0.016rem;
}

/* Search Bar Style */

div.wrapper {
    padding-left: 1rem;
    padding-right: 1.125rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.searchbar input {
    width: 100%;
    border: 1px solid var(--light-yellow);
    border-radius: 2.5rem;
    height: 2rem;
}
.searchbar #inputbox {
    width: 100%;
    border: 1px solid var(--light-yellow);
    border-radius: 2.5rem;
    height: 2rem;
}

.hashtags {
    margin-top: 1rem;
    margin-bottom: 2.25rem;
    display: grid;
    grid-template-columns: 25% 75%;
}


.title{
    font-family: var(--bold-font);
    font-size: 0.875rem;
    letter-spacing: 0.027rem;
}

.hashtags .title {
    padding-top: 0.2rem;
}

.hashtags .popular-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* padding-left: 0.5rem; */
}
.hashtags .tag{
    background: var(--faded-yellow);
    padding: 0.313rem 0.5rem;
    margin: 0.1rem;
    border-radius: 3rem;
    font-size: 12px;
    font-family: var(--regular-font);
}

/* .your-post .title {
    float: left;
} */

.blog{
    height: auto;
    width: 100%;
}


 .blog .blog-post{
    padding-top: 1rem;
}

 .blog-post .blog-content {
    display: flex;
    flex-direction: column;
    width: 93%;
    border-radius: 2px;
    color: var(--bg-color);
    margin: 0.2rem;
}

.blog-post .blog-content img {
    opacity: 1;
    filter:brightness(70%);

}
.blog-post .blog-content div.top-left {
    position: absolute;
    top: 12px;
    left: 12px;
    font-size: 0.7rem;
    color: var(--white);
    font-family: var(--regular-font);
  }
  .blog-post .blog-content div.top-left span {
    letter-spacing: 0.02rem;
  }
  
  .blog-post .blog-content .top-right {
    position: absolute;
    top: 0.75rem;
    right: 1.25rem; /*media right: 1.25rem*/
    border-radius: 50%;
    color: var(--amber-yellow);
  }
  .blog-post .blog-content .top-right i {
      font-size: 0.875rem;
      color: black;
      padding: 0.25rem;
      border-radius: 50%;
      background-color: var(--amber-yellow);
  }

.blog-post .blog-content figcaption {
    text-align: center;
    background-color: var(--faded-yellow);
    margin-top: -2.2em;
    z-index: 1;
    font-family: var(--bold-font);
    font-size: 0.7rem;
    padding: 0.5rem 1.75rem;
    justify-content: space-around;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid var(--faded-yellow);
    border-style: outset;
}
 
.owl-theme .owl-dots .owl-dot span {
    display: none;
}

.similar-post {
    display: grid;
    grid-template-columns: 50% 50%;
}


.similar-section {
    margin: 2rem 0.5rem;

}
.similar-section > .title {
    display: inline-block;
    right: 0;
}
.similar-post > figure.blog-content {
    display: flex;
    flex-direction: column;
    align-self: center;
    border-radius: 2em;
    color: var(--bg-color);
    margin: 0.5rem 0.2rem;
    position: relative;
    justify-content: space-around;
}

.similar-post > figure.blog-content img {
    opacity: 1;
    filter:brightness(70%);
}
  .similar-post > figure.blog-content div.top-left {
    position: absolute;
    top: 3vw;
    left: 2vw;
    font-size: 0.7rem;
    color: var(--white);
    font-family: var(--regular-font);
  }
  
  .similar-post > figure.blog-content div.top-left span {
    letter-spacing: 0.02rem;
  }
  .similar-post > figure.blog-content .top-right {
    position: absolute;
    top: 0.75rem;
    right: 0.5rem; 
    border-radius: 50%;
    color: var(--amber-yellow);
  }
  .similar-post > figure.blog-content .top-right i {
      font-size: 0.875rem;
      color: black;
      padding: 0.25rem;
      border-radius: 50%;
      background-color: var(--amber-yellow);
  }
.similar-post > figure.blog-content figcaption {
    text-align: center;
    background-color: var(--faded-yellow);
    margin-top: -2.2em;
    z-index: 1;
    font-family: var(--bold-font);
    font-size: 0.7rem;
    padding: 0.5rem 1.75rem;
    justify-content: space-around;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid var(--faded-yellow);
    border-style: outset;
}


footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2em 1em;
}

footer .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--bg-color);
    font-family: var(--regular-font);
}

footer .home i {
    font-size: 1.5rem;
}

footer .home span {
    font-size: 0.625rem;
}


@media only screen and (min-width: 1000px) {
    html {
        font-size: 20px;
    }
    .similar-post {
        grid-template-columns: repeat(4, 1fr);
    }
    
    .hashtags .title {
        padding-top: 0.25rem;
        padding-right: 1rem;
        text-align: end;
    }
    
}